<html ng-app="app">
<head>
  <title>Artistrie</title>
</head>
<body>
<!-- 	<div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Artistrie</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/contact">Contact</a></li>
              <li><a ng-href="#/pieces">Art Submissions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

<ng-view></ng-view>
 
<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Template -->   
<script type="text/ng-template" id="/pieces.html">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 text-center">
				Search: <input type="text" ng-model="search.title"><br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 text-center">
				Submit New Entry:
				<form ng-model="newPiece">
		          	<input type="text" ng-model="pieceTitle" placeholder="title"><br>
		            <textarea ng-model="pieceDescription" placeholder="Describe your art piece" required></textarea><br>
		            <input type="text" ng-model="pieceImage" placeholder="image url"><br>
		            <button class="btn btn-primary" ng-click="save()">Submit</button>
	    		</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 text-center">
				<ul>
				    <span ng-repeat="piece in pieces | filter: search">
				   		<a href=#/{{piece._id}}><h2>{{piece.title}}<h2></a>
				   		<a href=#/{{piece._id}}><img src="{{piece.img_url}}" alt=""></a><br>
				   		<h4>Description: {{piece.description}}</h4>
				   		<a ng-show="!editing[$index]" href="#/"></a>

				    	<button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>

				      <input ng-show="editing[$index]" type="text" ng-model="piece.description">
				      <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
				      <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>

				    </span>
	  			</ul>
			</div>
		</div>
	</div>
</script>
  
<script type="text/ng-template" id="/pieceDetails.html">
<img src="{{piece.img_url}}" alt="">
  <h1>{{piece.title}}</h1>
  description: <textarea ng-model="piece.description"></textarea><br><br>

  <button ng-click="update()">Update</button>
  <button ng-click="remove()">remove</button>
  <a href="/">Cancel</a>
</script>

<script type="text/ng-template" id="/contact.html">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 text-center">
				<h1>GO AWAY</h1>
			</div>
		</div>
	</div>
</script>
 
<script>
angular.module('app', ['ngRoute', 'ngResource'])

    .factory('Pieces', ['$resource', function($resource){
      return $resource('/pieces/:id', null, {
        'update': { method:'PUT' }
      });
    }])

    .controller('PieceCtrl', ['$scope', 'Pieces', function ($scope, Pieces) {
      $scope.editing = [];
      $scope.pieces = Pieces.query();

      $scope.save = function(){
        if(!$scope.pieceTitle || $scope.pieceTitle.length < 1) return;
        var piece = new Pieces({ title: $scope.pieceTitle, img_url: $scope.pieceImage, description: $scope.pieceDescription });

        piece.$save(function(){
          $scope.pieces.push(piece);
          $scope.pieceTitle = ''; // clear textbox
          $scope.pieceDescription = '';
          $scope.pieceImage = '';
        });
      }

      $scope.update = function(index){
        var piece = $scope.pieces[index];
        Pieces.update({id: piece._id}, piece);
        $scope.editing[index] = false;
      }

      $scope.edit = function(index){
        $scope.editing[index] = angular.copy($scope.pieces[index]);
      }

      $scope.cancel = function(index){
        $scope.pieces[index] = angular.copy($scope.editing[index]);
        $scope.editing[index] = false;
      }

      $scope.remove = function(index){
           var piece = $scope.pieces[index];
           Pieces.remove({id: piece._id}, function(){
            	$scope.pieces.splice(index, 1);
            });
          }
    }])
  
   .controller('PieceDetailCtrl', ['$scope', '$routeParams', 'Pieces', '$location', function ($scope, $routeParams, Pieces, $location) {
      $scope.piece = Pieces.get({id: $routeParams.id });

      $scope.update = function(){
        Pieces.update({id: $scope.piece._id}, $scope.piece, function(){
          $location.url('/');
        });
      }

      $scope.remove = function(){
        Pieces.remove({id: $scope.piece._id}, function(){
          $location.url('/');
        });
      }
    }])

   	.controller('ContactCtrl', ['$scope', function ($scope) {

   	}])
  
  .config(['$routeProvider', function ($routeProvider) {
    $routeProvider
      .when('/', {
        templateUrl: '/pieces.html',
        controller: 'PieceCtrl'
      })
    
      .when('/:id', {
        templateUrl: '/pieceDetails.html',
        controller: 'PieceDetailCtrl'
      })

      .when('/contact', {
      	templateUrl: '/contact.html',
      	controller: 'ContactCtrl'
      });
  }]);
</script>
 
</body>
</html>