<!-- <div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Welcome to Artistrie</h1>
			</div>
		</div>
	</div>
</div>
 -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center home-heading">
			<h1 class="home-headline">Welcome to Artistrie</h1>
			<h3 class="home-tagline">Share your art, compete with other artists, gain the notariety that you deserve</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<a href="#/list" class="btn btn-custom" role="button" data-toggle="modal" data-target="#signupModal">Check out the art</a>
		</div>
	</div>
</div>